* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar Section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #354f52;
    color: #fff;
}

.logo img {
    width: 50px;
}

.header-title {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5em;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
    position: relative;
}

.nav-links a:hover {
    background-color: #575757;
}

.nav-links a.active::after {
    content: '';
    display: block;
    margin: auto;
    width: 25%;
}

.hamburger {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

/* Responsive Styles for Navbar Section */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #354f52;
    }

    .nav-links a {
        text-align: center;
        padding: 15px;
        border-top: 1px solid #354f52;
    }

    .nav-links a.active::after {
        width: 5%;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width: 1024px) {
    .header-title {
        font-size: 1.2em;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .header-title {
        font-size: 1.3em;
    }
}

/* Hero Section - Content */
.hero {
    background-color: #F9C80E;
    color: #354F52;
    text-align: center;
    padding: 100px 0;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #354F52;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

/* Product Section - Cards */

h2 {
    text-align: center;
    padding-top: 20px;
}
.product-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
}

.product-card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.product-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product-card p {
    color: #555;
    margin-bottom: 20px;
}

.product-card button {
    background-color: #354F52;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #f9c80e;
    color: #354f52;
    transition: background-color 0.3s ease;
    transform: translateY(-5px);
}

/* Responsive Styles for Product Section */
/* Media query for mobile - portrait */
@media (max-width: 768px) {
    .header-title {
        padding: 10px;
        font-size: 1.2em;
    }

    .logo img {
        width: 40px;
        height: 40px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hero-content h1 {
        font-size: 1.6em;
    }

    .hero-content p {
        padding: 10px;
    }

    .product-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}
/* Media query for mobile - landscape */
@media (min-width: 576px) {
    .product-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}
/* Media query for tablet - portrait */
@media (min-width: 769px) {
    .product-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}
/* Media query for tablet - landscape */
@media (min-width: 992px) {
    .product-cards {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}

/* Hero Section - Image */
.hero-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F9C80E;
    }
.hero-img {
    max-width: 100%;
}
.hero-img img {
    width: 100%;
    max-width: 850px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

/* Responsive Styles for Hero Image */
/* Media Queries */
@media (max-width: 768px) {
    .hero img {
        width: 60%;
    }
}

@media (max-width: 480px) {
    .hero img {
        width: 80%;
    }
}